html, body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

.main {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.logo {
  width: 60px;
} 

h1 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  width: 85%;
}

p {
  padding: 14px 18px 14px 18px;
  width: 60%;
  text-align: center;
}

.fill {
  height: 110px;
}

.more {
}

p:nth-child(4) {
  font-size: 12px;
  opacity: 0.3;
}

.blue {
  height: 50vh;
  background: blue;
}

.red {
  height: 50vh;
  background: red;
}

.yellow {
  height: 50vh;
  background: yellow;
}
/* MEDIA QUERIES */

@media screen and (max-width: 440px) {
}

@media screen and (max-width: 375px) {
}
